body {
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}
.container {
  text-align: center;
}
.done {
  text-decoration: line-through;
}
.cloneLi {
  display: none;
}
.eb:hover {
  cursor: pointer;
}
.cb:hover {
  cursor: pointer;
}
ul {
  margin: 5;
  padding: 5;
}
ul li {
  list-style-type: none;
  font-size: 16px;
}
